<mat-toolbar color="accent">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    
    </button>
    <span>CL3_RamirezAquinoClever</span>
    &nbsp;&nbsp;
    <button mat-button (click)="irLocation()">Pregunta2</button>
    &nbsp;&nbsp;
    <button mat-button (click)="irTodos()">Pregunta3</button>
    &nbsp;&nbsp;

    <span class="example-spacer"></span>
    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
      <mat-icon>favorite</mat-icon>
    </button>
  </mat-toolbar>
  


<hr />
<router-outlet></router-outlet>
